version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    allow:
      - dependency-type: all
    groups:
      actions:
        patterns: ["*"]

  - package-ecosystem: uv
    versioning-strategy: increase
    directory: /
    schedule:
      interval: daily
    allow:
      - dependency-type: all
    groups:
      actions:
        patterns: ["*"]
