name: build and publish to PyPI

on:
  workflow_dispatch:
  push:
    tags: ["v*"]

env:
  UV_LOCKED: 1

jobs:
  pypi-publish:
    name: Publish release to PyPI
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment:
      name: pypi
      url: https://pypi.org/p/python-exports
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: astral-sh/setup-uv@v7.2.0
      - run: uv build
      - uses: pypa/gh-action-pypi-publish@v1.13.0
